<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title> <!-- At allows you to access C#-->
    @RenderSection("head", required: false) <!-- Custom HTML-->
</head>
<body>
    @RenderSection("banner")
    @RenderBody() <!-- Places HTML automatically/Default-->
    <hr style="height:5px" />
    @RenderSection("footer", required: false)
</body>
</html>
